# Untracked Files:

.springBeans
taskEstimateEvaluation.md
taskEstimateEvaluation.pdf

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/nb-configuration.xml